@import "../../consts";

.b-back {
  position: relative;
  top: 10px;
}

.b-back__button {
  margin: 1%;
  padding: 10px;
  background: $main_gray;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  text-align: center;
}
