.b-page-top {
  position: absolute;
  top: 0px;
  margin: 10px; }

.b-page-top__title {
  left: 3%;
  font-size: 60px;
  font-weight: bold; }

.b-page-top__user-info {
  right: 160px;
  font-size: 30px;
  font-weight: bold;
  text-align: right; }

.b-page-top__logout {
  right: 50px; }

.b-page-top__button-logout {
  display: block;
  margin: 10px;
  padding: 10px;
  background: gray;
  color: white;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 500;
  text-align: center; }

.b-menu {
  margin: 150px auto auto auto; }

.b-menu__button {
  display: block;
  margin: 25px auto 25px auto;
  padding: 10px;
  width: 400px;
  height: 60px;
  background: #40c781;
  color: white;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 700;
  text-align: center; }

.b-back {
  position: absolute;
  top: 200px;
  left: 10%; }

.b-back__button {
  margin: 10px;
  padding: 10px;
  background: gray;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  text-align: center; }

.b-user-form {
  margin: 120px auto auto auto; }

.b-user-form__input {
  display: block;
  margin: 0px auto 25px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #333333;
  border: 10px solid rgba(255, 255, 255, 0.5);
  font-size: 30px; }

.b-user-form__button {
  display: block;
  margin: 25px auto 25px auto;
  padding: 10px;
  width: 200px;
  height: 60px;
  background: #40c781;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  font-weight: 700;
  text-align: center; }

.b-scoreboard {
  margin: 120px auto auto auto; }

.b-battle-status {
  text-align: center;
  margin: 150px 25% 10px 25%;
  color: #40c781;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 35px;
  font-weight: bold; }

.b-battle-new-game-button {
  position: absolute;
  top: 360px;
  left: 38%;
  right: 38%;
  padding: 10px;
  background: #40c781;
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center; }

.b-battlefield {
  margin: 50px auto auto auto;
  width: 318px;
  height: 315px; }

.b-battlefield__cell {
  display: inline; }

.b-battlefield__picture {
  margin: 0 2px 0 2px; }

.b-player-info {
  position: absolute;
  top: 210px;
  text-align: center; }

.b-player-info__current-player {
  left: 20%; }

.b-player-info__enemy-player {
  right: 20%; }

body {
  color: white;
  background: gray;
  font-family: "Comic Sanc MS"; }

label {
  display: block;
  text-align: center; }

a {
  text-decoration: none; }

table {
  margin: auto;
  padding: 5px;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  background: #40c781;
  border-collapse: collapse;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-weight: 700;
  text-align: center; }

th {
  padding: 24px;
  background: #40c781;
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
  /*border-radius: 0px;*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

td {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #333333;
  /*border-radius: 7px;*/
  text-align: center; }
