<fest:template xmlns:fest="http://fest.mail.ru" context_name="user">

    <span class="b-logout">
        <fest:if test="user.isLogined">
            <!--TODO-->
                <form method="POST" id="logout-form">
                    <input class="b-logout__button" type="submit" value="Logout"/>
                </form>
        </fest:if>
    </span>


    <div class="b-menu">
        <fest:choose>
            <fest:when test="!user.isLogined">
                <!--TODO-->
                <a href="#login" class="b-menu__button">Login</a>
                <a href="#signup" class="b-menu__button">Signup</a>
            </fest:when>

            <fest:when test="user.isLogined">
                <!--TODO-->
                <a href="#game" class="b-menu__button">Start</a>
            </fest:when>
        </fest:choose>

        <a href="#scoreboard" class="b-menu__button">Scoreboard</a>
    </div>

</fest:template>