<fest:template xmlns:fest="http://fest.mail.ru" context_name="user">

    <div class="b-menu">
        <fest:choose>
            <fest:when test="!user.isLogined">
                <!--TODO-->
                <a href="#login">
                    <button class="b-menu__button">Login</button>
                </a>
                <a href="#signup">
                    <button class="b-menu__button">Signup</button>
                </a>
                <a href="#scoreboard">
                    <button class="b-menu__button">Scoreboard</button>
                </a>
            </fest:when>

            <fest:when test="user.isLogined">
                <!--TODO-->
                <a href="#game">
                    <button class="b-menu__button">Start</button>
                </a>
                <a href="#scoreboard">
                    <button class="b-menu__button">Scoreboard</button>
                </a>
                <form method="POST" id="logout-form">
                    <button class="b-menu__button" type="submit">Logout</button>
                </form>
            </fest:when>

        </fest:choose>
    </div>

</fest:template>