<fest:template xmlns:fest="http://fest.mail.ru" context_name="user">

    <div class="div_logout">
        <fest:if test="user.isLogined">
            <!--TODO-->
            <form method="POST" id="logout-form">
                <input class="button_logout" type="submit" value="Logout"/>
            </form>
        </fest:if>
    </div>

    <div class="div_menu">
        <fest:choose>
            <fest:when test="!user.isLogined">
                <!--TODO-->
                <a href="#login" class="button_menu">Login</a>
                <a href="#signup" class="button_menu">Signup</a>
            </fest:when>

            <fest:when test="user.isLogined">
                <!--TODO-->
                <a href="#game" class="button_menu">Start</a>
            </fest:when>
        </fest:choose>

        <a href="#scoreboard" class="button_menu">Scoreboard</a>
    </div>





</fest:template>