@import "../../consts";

.b-page-top {
  margin: 0 25px 0 25px;
  display:  inline;
}

.b-page-top__title {
  text-align: left;
  font-size: 50px;
  font-weight: bold;
}

.b-page-top__user-info {
  float: right;
  margin: 10px;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
}

