@import "_consts";

.div__battlefield{
    border: 10px solid transparentize($white-half, 0);
    width:510px;
    height: 510px;
    margin: 50px auto auto;
}
.div__battlefield__cell{
    border: 5px solid transparentize($white-half, 0);
    width: 160px;
    height: 160px;
    float: left;
}