@import "_consts";

button{
    font-family: $main_font;
}
.menu_button {
    border: none;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 60px;
    color: $white;
    border-radius: 3px;
    background: $main_green;
    box-shadow: 0 10px 10px transparentize($black-half, 0);
    font-size: 25px;
    font-weight: 700;
}

.button__submit_button {
    border: none;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 60px;
    color: $white;
    border-radius: 3px;
    background: $main_green;
    box-shadow: 0 10px 10px transparentize($black-half, 0);
    font-size: 25px;
    font-weight: 700;
}

.button__back_button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: $white;
    border-color: $white;
    border-radius: 2px;
    background: $main_green;
    position: absolute;
    right: 50px;
}
